.contact-me-form {
  width: 300px;
  padding: 20px;
  margin-inline: auto;

  background-color: rgb(5,109,81);

  border-radius: 10px;

  margin-top: 2rem;
}

.contact-me-form__title {
  color: rgb(239,239,241);
  text-align: center;
  margin-bottom: 1.5rem;
}

.contact-me-form__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.3rem;
}

.contact-me-form__item-label {
  font-size: 12px;
  color: var(--dark-gray-color);
  color: rgb(239,239,241);

  margin-bottom: 0.3rem;
}

.contact-me-form__input {
  outline: none;
}

.contact-me-form__item-message {
  resize: none;
  height: 150px;

  outline: none;
}

.contact-me-form__submit-button-container {
  margin-top: 3em;
}
.contact-me-form__submit-button {
  color: rgb(239,239,241);
  background-color: rgb(164, 83, 1);

  font-size: 14px;
  padding: 0.3rem 1rem 0.3rem 1rem;
  border-style: solid;
  border-width: 0.05rem;

  cursor: pointer;

  border-radius: 10px;
  /*Align the Submit Button to the middle of the contact me form*/
  display: block;
  margin-inline: auto;
  
}

.contact-me-form__submit-button:hover {
  background-color: rgb(115, 58, 1);
}

.contact-me-form__confirmation {
  margin-top: 1.5rem;
  color: white;
  font-size: 15px;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contact-me-form {
    width: 500px;
    padding: 40px;
  }

  .contact-me-form__title {
    font-size: 28px;
  }

  .contact-me-form__item-label {
    font-size: 14px;
  }

  .contact-me-form__input {
    height: 30px;
  }

  .contact-me-form__submit-button {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-me-form {
    width: 650px;
    padding: 60px;
  }

  .contact-me-form__title {
    font-size: 35px;
  }

  .contact-me-form__item-label {
    font-size: 16px;
  }

  .contact-me-form__input {
    height: 30px;
  }

  .contact-me-form__submit-button {
    font-size: 22px;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  }
}
