.project {
  width: auto;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;

  margin-bottom: 1.5rem;
}

.project__website-image {
  width: 70%;
  margin-top: 1rem;
  border-style: solid;
}

.project__title {
  height: 50px;
}

.project__description {
  font-size: 14px;
  margin: 0.5rem 0rem 2rem 0rem;

  height: 150px;
}

.project__buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.project__button {
  color: black;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 0.05rem;
  border-radius: 10px;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  width: 115px;

  cursor: pointer;
}

.project__button:hover {
  background-color: black;
  color: white;
}

@media screen and (min-width: 1200px) {
  .project {
    padding: 2rem;
  }

  .project__title {
    font-size: 25px;
  }

  .project__description {
    font-size: 16px;
  }

  .project__button {
    width: 150px;
    padding: 0.4rem 0.5rem 0.4rem 0.5rem;
    font-size: 15px;
  }
}