* {
  box-sizing: content-box;
  font-family: 'Poppins', sans-serif;
  margin: 0rem;
}

body {
  height: 4000px;
}

:root {
  --linkedin-color: rgb(1,118,181, 1);
  --github-color: rgb(242, 144, 16, 1);
  --email-color: rgb(5,109,81, 1);
  --resume-color: rgb(64, 63, 63, 1);

  --dark-gray-color: rgb(64, 63, 63);
  --light-white-color: rgb(239,239,241);
}



.line {
  width: 80%;
  
  margin: 1rem auto 1rem auto;
  border-style: solid;
  border-width: 0.05px;
}


.my-projects {
  width: 340px;
  margin-inline: auto;
}

.my-projects__title {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px){
  
}

